@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "EnableAuthenticator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Please enter the below code in your authenticator app:
</p>

<p>
    @Model.Token
</p>

<p>
    Alternatively, scan the QRCode with your mobile phone.
</p>

<div id="qrCode"></div>

<form method="post">
    <input hidden asp-for="Token"/>
    <div class="form-group">
        Enter Code: <input class="form-control" type="text" asp-for="Code"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <script type="text/javascript" src="~/lib/qrcode.js"></script>

    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: @Model.QRCodeUrl,
                width: 150,
                height: 150
            });
    </script>
}
