@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-info">Login</h1>

<div class="row">
    <div class="col-md-8">

        <form asp-action="Login" method="post" role="form">
            <h4>Use a local account to login.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger "></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger "></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button class="btn btn-success form-control" type="submit">Register</button>
                </div>
            </div>
            <p>
                <a asp-action="Register">New here? Register</a>
            </p>
            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
        </form>
    </div>
</div>



@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}